.popup-detalhes-conteudo {
    position: fixed;
    z-index: 10000;
    top: 25%;
    left: 25%;
    width: 800px;
    height: 460px;
    background: rgba(3, 28, 82, 0.5);
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height 0.2s ease;
    padding: 24px;
}

.popup-detalhes-conteudo.ativo {
    transform: scale(1);
}

.popup-detalhes-conteudo h3 {
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.popup-detalhes-fechar-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #FFFFFF;
    cursor: pointer;
}

.popup-detalhes-colunas {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.popup-detalhes-col-esq {
    flex-basis: 40%;
}
.popup-detalhes-col-dir {
    flex-basis: 60%;
}

.popup-detalhes-upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    border: 2px dashed #83a1da;
    border-radius: 16px;
    cursor: pointer;
    background-color: #aebee2;
}
.popup-detalhes-upload-area ion-icon {
    font-size: 24px;
    color: #83a1da;
}
.popup-detalhes-upload-area span {
    width: 100px;
    height:40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #00345f;
}
.popup-detalhes-upload-area:hover {
    background: transparent;
    border: #ffffff 2px solid;
    color: #FFFFFF;
}

.popup-detalhes-campo {
    margin-bottom: 15px;
}
.popup-detalhes-campo label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.popup-detalhes-campo input[type="text"],
.popup-detalhes-campo input[type="number"],
.popup-detalhes-campo textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-sizing: border-box; 
    font-size: 14px;
}
.popup-detalhes-campo textarea {
    height: 100px;
    border-radius: 16px;
    resize: vertical;
}

.popup-detalhes-campo-icone {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.popup-detalhes-campo-icone label {
    margin: 0;
    margin-right: 10px;
    font-weight: 600;
}
.popup-detalhes-campo-icone img {
    width: 33px;
    height: 45px;
}

.popup-detalhes-botoes {
    text-align: right;
}
.btn-enviar {
    width: 100px;
    height:40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #00345f;
}
.btn-enviar:hover {
    background: transparent;
    border: #ffffff 2px solid;
    color: #FFFFFF;
}