.wrapper {
    position: fixed;
    z-index: 100;
    top: 25%;
    left: 40%;
    width: 400px;
    height: 440px;
    background: rgba(3, 28, 82, 0.5);
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height 0.2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box{
    position: absolute;
    width: 100%;
    padding: 40px;
    top: 0;
}

.wrapper .form-box.logar {
    transition: transform .20s ease;
    transform: translateX(0px);
}

.wrapper.active .form-box.logar {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.cadastrar {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.cadastrar {
    transition: transform .20s ease;
    transform: translate(360px);
}

.wrapper .icon-close {
    position:absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 32px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #FFFFFF;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 57px
}

.remember-forgot {
   font-size: 14px;
   color: #FFFFFF;
   font-weight: 500;
   margin: -15px 0 15px;
   display: flex;
   justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: rgb(0, 175, 233);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height:45px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #00345f;
}

.btn:hover {
    background: transparent;
    border: #ffffff 2px solid;
    color: #FFFFFF;
}

.login-register {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    margin: 25px 0 10px;
}

.login-register a {
    color: rgb(0, 175, 233);
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}